
.maincontent{
    width: 500px;
    background-color:#f0aedc;
    margin: 0 auto;
    text-align:center;
}
body{
    width: 500px;
    margin:0 auto;
    background-color: #f0aedc;
}

div h1{
    font-size: 5em;
}

h1:hover{
    color:white;
    color:black;
}
div{
    color:white;
    font-size:small;

}
.name{
    color:white;
    font-size: medium;
}
p{
    color:black;
    font-size:medium;
    text-align:left;
}
.images{
    width: 50%;
    height: 50%;
    margin:0 auto;
    
}
h2 blockquote{
    color: white;
    font-size: xx-large;
}
footer p{
    text-align: center;
    color:black
}